<!--Footer-->
<footer class="site-footer">
    <div class="footer-logo">
      <img src="images/Logo_Ely.png" alt="Logo" />
    </div>
    <div class="footer-content">
      <div class="footer-contact">
        <h3>Contacto</h3>
        <p>Dirección: Panamá, Ciudad de Colón</p>
        <p>Teléfono: +507 6666 6666</p>
        <p>Email: info@elyshopping.com</p>
      </div>
      <div class="footer-links">
        <h3>Enlaces</h3>
        <ul>
          <li><a href="/">Inicio</a></li>
          <li><a href="/register">Registrate</a></li>
        </ul>
      </div>
      <div class="footer-social">
        <h3>Síguenos</h3>
        <a
          href="https//:www.facebook.com"
          target="_blank"
          rel="noopener noreferrer"
          ><img src="images/facebook.svg" alt="FB"
        /></a>
        <a href="#" target="_blank" rel="noopener noreferrer"
          ><img src="images/twitter.svg" alt="X"
        /></a>
        <a href="#" target="_blank" rel="noopener noreferrer"
          ><img src="images/instagram.svg" alt="IG"
        /></a>
      </div>
    </div>
    <div class="footer-bottom">
      <p>&copy; 2024 Ely Shopping. Todos los derechos reservados.</p>
    </div>
    <script src="../../public/javascripts/menu.js"></script>
  </footer>