<header>
    <h1><a href="/images/Logo_Ely.png"></a>Bienvenidos a Ely Shopping</h1>
    <h2>SÓLO NOS TOMA UN MOMENTO TRANSFORMAR TU CLOSET</h2>
    <p>¿Estás listo para el cambio de tu ropa?</p>
  </header>