<header>
    <h1><a href="/miProyecto/public/images/Logo_Ely.png">Bienvenidos a Ely Shopping</a></h1>
    <h2>SÓLO NOS TOMA UN MOMENTO TRANSFORMAR TU CLOSET</h2>
    <p>¿Estás listo para el cambio de tu ropa?</p>
  </header>