<nav>
    <img src="./images/Logo_Ely.png" alt="Logo" />
    <link rel="stylesheet" href="/css/style.css"/>
    <button class="menu-toggle" onclick="toggleMenu()"; aria-label="Abrir menú">
      <svg id="menu-icon" href="../../public/images/menu.svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
      </svg>
  </button>
</nav>
  <nav>
  <ul>
    <li><a href="/">Inicio</a></li>
    <li><a href="/users">Usuarios</a></li>
    <li><a href="/register">Registrate</a></li>
    <li><a href="/product">Productos</a></li>
    <li><a href="/cart">Carrito de compra</a></li>
    <li><a href="/login">Iniciar Sesión</a></li>
  </ul>
</nav>