<!DOCTYPE html>
<html lang="es">
  <head>
  <%- include('partials/head') %>
</head>
  <body>
    <%- include('partials/menu') %>
    
    <h1>Crear Usuario</h1>
<form action="/users/create" method="POST">
    <input type="text" name="name" placeholder="Nombre del usuario" required>
    <input type="email" name="email" placeholder="Email del usuario" required>
    <button type="submit">Crear Usuario</button>
</form>
<%- include('partials/footer') %>
<script type="module" src="../routes/users.js"></script>
<script type="module" src="../controllers/usersController.js"></script>
</body>
</html>