<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
  </head>
  <body>
    <%- include('partials/menu') %>

    <%- include('partials/header') %>
      <main>
      <div class="container">
        <h1>Coleccion</h1>
          <div class="product-summary">
            <div class="product-card">
              <img src="/images/vestido_estampado_floral.jpg" alt="Vestido Estampado Floral"/>
              <h3>Vestido estampado floral manga de tiras</h3>
              <p> $ 100.00</p>
          </div>
          <div class="product-card">
              <img src="/images/vestido_cocktail.jpg" alt="Vestido Cocktail"/>
              <h3>Vestido cocktail metalico mangas</h3>
              <p> $ 89.00</p>
          </div>
          <div class="product-card">
              <img src="/images/vestido_de_jeans.jpg" alt="Vestido Jeans"/>
              <h3>Vestido de Jeans con abertura en pierna</h3>
              <p>$ 79.00</p>
          </div>
          <div class="product-card">
              <img src="/images/vestido_de_punto.jpg" alt="Vestido De Punto"/>
              <h3>Vestido de punto - Morgan</h3>
              <p>$ 70.00</p>
          </div>
          <div class="product-card">
              <img src="/images/vestido_camisero_v.jpg" alt="Vestido Camisero"/>
              <h3>Vestido camisero - VILA</h3>
              <p>$ 30.00</p>
          </div>
          <div class="product-card">
              <img src="/images/gabardina.jpg" alt="Gabardina"/>
              <h3>Gabardina - New Look</h3>
              <p>$ 69.99</p>
          </div>
        </div>
        <h1>Oferta</h1>
        <div class="product-summary">
          <div class="product-card">
              <img src="/images/Shorts_deportivo.jpg" alt="Shorts Deportivo"/>
              <h3>Shorts deportivo</h3>
              <p>$ 63.95</p>
          </div>
          <div class="product-card">
              <img src="/images/tropical_trian.jpg" alt="Camiseta estampada"/>
              <h3>Camiseta estampada - Guess</h3>
              <p>$ 23.75</p>
          </div>
          <div class="product-card">
              <img src="/images/love_wins.jpg" alt="Jersey con Capucha"/>
              <h3>Jersey con capucha - Puma</h3>
              <p>$ 36.00</p>
          </div>
      </div>
    </div>
    </main> 
    <!-- Inclui el footer -->
<%- include('partials/footer') %>
  </body>
</html>
