<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('partials/head') %>
</head>
<body>
    <!-- Incluir el menú -->
    <%- include('partials/menu') %>
    <main>
    <div class="login-container">
        <h2>Iniciar Sesión</h2>
        <form action="login" method="POST">
            <label for="username">Usuario:</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Contraseña:</label>
            <input type="password" id="password" name="password" required>

            <div class="options">
                <label>
                    <input type="checkbox" name="remember"> Recuérdame
                </label>
                <a href="#">¿Olvidaste tu contraseña?</a>
            </div>

            <button type="submit">Iniciar Sesión</button>
        </form>
    </div>
</main>
    <!-- Inclui el footer -->
    <%- include('partials/footer') %>
    <script src="/miProyecto/public/javascripts/validacionFormulari.js"></script>
</body>
</html>