/* LOGIN */
body {
    font-family: "Zilla Slab",system-ui;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
  }
/* NAVBAR */
nav {
    background-color: #fff;
    padding: 10px 15px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  nav img{
    width: 44px;
    height: 44px;
  }
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav ul li {
    margin: 0 15px;
  }
  
  nav ul li a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
  }
  
  nav ul li a:hover {
    text-decoration: underline;
    color: #2e78e2;
  }
  
  /* MENU HAMBURGUESA */
  .menu-toggle {
    display: none;
    font-size: 24px;
    color: #000;
    cursor: pointer;
  }
  
  .menu-toggle.active + ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    background-color: #0073e6;
    padding: 10px 0;
  }
  
  .menu-toggle.active + ul li {
    margin: 10px 0;
    text-align: center;
  }
  
  @media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }
  
    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
    }
  
    nav ul li {
        margin: 0;
    }
  }

main{
    display: flex;
    justify-content: space-around;
    }
.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    align-content: center;
  }
  
.login-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
    color: #0073e6;
  }
  
.login-container label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
  }
  
.login-container input[type="text"],
  .login-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .login-container input[type="checkbox"] {
    margin-right: 10px;
  }
  
  .login-container button {
    width: 100%;
    padding: 10px;
    background-color: #0073e6;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .login-container button:hover {
    background-color: #005bb5;
  }
  
  .login-container .options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
  }
  
  .login-container .options a {
    color: #0073e6;
    text-decoration: none;
    font-size: 14px;
  }
  
  .login-container .options a:hover {
    text-decoration: underline;
  }
  /* FOOTER */
footer {
    background-color: #fff;
    color: #000;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    bottom: 0;
  }
  footer p {
    margin: 0;
  }
  .footer-logo img {
    margin: 10px;
    width: 70px;
  }
  .footer-content {
    display: flex;
    justify-content: space-around;
  }
  
  .footer-contact,
  .footer-links,
  .footer-social {
    flex: 1;
    padding: 0 20px;
  }
  
  .footer-links ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-links a {
    color: #000;
    text-decoration: none;
  }
  
  .footer-bottom {
    margin-top: 20px;
  }
  
  .footer-content h3{
    color:#2e78e2
  }  