body {
  font-family: "Zilla Slab",system-ui;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
}
/* NAVBAR */
nav {
  background-color: #fff;
  padding: 10px 15px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav img{
  width: 44px;
  height: 44px;
}
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
  color: #2e78e2;
}

/* MENU HAMBURGUESA */
  .dropdown {
    display: none;
    font-size: 24px;
    color: #000;
    cursor: pointer;
  }
  .dropdown-menu {
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  .dropdown:active + .dropdown-menu {
    display: flex;
    flex-direction: column;
    opacity: 1;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    background-color: #0073e6;
    padding: 10px 0;
  }
  .dropdown:active + .dropdown-menu li.dropdown-item {
    margin: 10px 0;
    text-align: center;
  }
  @media (max-width: 768px) {
    .dropdown {
        display: block;}
    .dropdown-menu:active {
        display: none;
        flex-direction: column;
        width: 100%;}
    .dropdown-menu li {
        margin: 0;}
        .list{
          display:none
        }
  }

header{
  background: linear-gradient(rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8)100%), url('/images/Derby_Days.jpg');
  height: 75vh;
  align-items: center;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.5);
  background-repeat: repeat;
}

header p {
  padding: 20px;
  color: #fff;
  text-align: center;
}

header h2 {
  margin-bottom: 10px;
  font-size: 2em;
  text-align: center;
  color: #fff;
}

header h1 {
  margin-bottom: 20px;
  font-size: 2.5em;
  color: #2e78e2;
}
/* PRODUCTOS */
.container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 0 15px;
}

h1{
  display: flex;
  margin: 10px;
  padding: 10px;
  color: #2e78e2;
  justify-content: center;
  font-size: 2em;
}

.product-summary {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  margin: 10px;
  width: calc(33.333% - 20px);
  box-sizing: border-box;
  padding: 10px;
  transition: transform 0.2s;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-card img {
  display: flex;
  width:230px;
  height: 240px;
  border-radius: 5px;
  align-items: center;
  margin: 20px;
}

.product-card h3 {
  margin: 10px 0;
  font-size: 1.2em;
}

.product-card p {
  margin: 5px 0;
  color: #666;
}
.product-card p:hover{
  color: #2e78e2;
}
@media (max-width: 768px) {
  .product-card {
      width: calc(50% - 10px);
  }
}

@media (max-width: 480px) {
  header h1{
    align-items: center;
  }
  .product-card {
      width: 70%;
  }
  .product-card img{
    width: 160px;
  }
}
/* FOOTER */
footer {
  background-color: #fff;
  color: #000;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  bottom: 0;
}
footer p {
  margin: 0;
}
.footer-logo img {
  margin: 10px;
  width: 70px;
}
.footer-content {
  display: flex;
  justify-content: space-around;
}

.footer-contact,
.footer-links,
.footer-social {
  flex: 1;
  padding: 0 20px;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links a {
  color: #000;
  text-decoration: none;
}

.footer-bottom {
  margin-top: 20px;
}

.footer-content h3{
  color:#2e78e2
}
